{% extends 'base.html' %}
{% block title %}Character List{% endblock %}
{% block content %}
    <div>
        <h1 class="my-4">Character List</h1>
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>photo</th>
                <th>name</th>
                <th>feature</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            {% for character in character_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% if character.photo == None %}
                            {% load static %}
                            <img src="{% static '브레드이발소/photo/nophoto.png' %}" alt="사진 없음" style="width: 100px; height: 100px; object-fit: contain">
                        {% else %}
                            <img src="{{ character.photo.url }}" alt="프로필 사진" style="width: 100px; height: 100px; object-fit: contain">
                        {% endif %}
                    </td>
                    <td><a href="{% url '브레드이발소:character_detail' pk=character.id %}">{{ character.name }}</a></td>
                    <td>{{ character.feature }}</td>
                    <td>
                        <a href="{% url '브레드이발소:character_update' pk=character.id %}" class="btn btn-warning">⚒️</a>
                    </td>
                    <td>
                        <a href="{% url '브레드이발소:character_delete' pk=character.id %}" class="btn btn-danger">💣</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="{% url '브레드이발소:character_create' %}" class="btn btn-success">+ Character</a>
                </td>
            </tr>
        </table>
    </div>
    <div>
</div>
{% endblock %}